@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Retrocycles";
  src: url("./fonts-copy/Retrocycles.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

// V A R I A B L E S
// font
$font-title: "Retrocycles";
$font-main: "Open Sans", sans-serif;

// colours
$black: #231c1a;
// $black: #433633;
$light: #fefaeb;
// $light: #fef5d8;
$primary: #e23d28;
$secondary: #663f46;
$danger: #e23d28;
$success: #00a676;

// M I X I N S
// text non-selectable
@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// logo
@mixin pizza-maker {
  text-transform: capitalize;
  font-family: $font-title;
  letter-spacing: 1rem;
  word-spacing: 0px;
  font-weight: 600;
  font-size: 12em;
  transform: rotate(-3deg);
  color: $primary;
  text-shadow: 2px 2px 8px rgba(35, 28, 26, 0.3);
}

@mixin ease {
  transition: all 0.3s ease-in-out;
}

@mixin linear {
  transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $light;
}

.link {
  text-decoration: none;
  color: $black;
}

#home {
  position: relative;
  overflow: hidden;
}

// H O M E
.home-grids {
  display: flex;
  z-index: -10;
  .grid-left {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    .square {
      height: 130px;
      width: 130px;
      + .s2,
      + .s4,
      + .s5,
      + .s7,
      + .s10,
      + .s13 {
        background-color: $primary;
        &:hover {
          transform: scale(1.1);
          transition: 0.1s ease-in;
        }
      }
    }
  }
  .grid-right {
    position: fixed;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    .square {
      height: 130px;
      width: 130px;
      + .s15,
      + .s13,
      + .s12,
      + .s10,
      + .s7,
      + .s4 {
        background-color: $primary;
        &:hover {
          transform: scale(1.1);
          transition: 0.1s ease-in;
        }
      }
    }
  }
}

.home-center {
  z-index: 10;
  height: 100vh;
  @include flex-center();

  .home-text {
    :nth-child(1) {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 2em;
      letter-spacing: 0.5rem;
      color: $black;
      margin: 1rem;
      text-shadow: 2px 2px 8px rgba(35, 28, 26, 0.2);
    }
    :nth-child(2) {
      @include pizza-maker();
    }
  }

  .home-buttons {
    display: flex;
    button {
      text-transform: capitalize;
      @include no-select();
      padding: 15px 10px;
      border: 5px solid $black;
      font-family: $font-main;
      font-size: 1em;
      margin: 2rem 1rem;
      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
        @include ease();
      }
    }
    .menu-btn {
      background-color: $light;
    }
    .custom-btn {
      background-color: $black;
      color: $light;
    }
  }
}

// N A V B A R
#navbar {
  color: $black;
  top: 0;
  z-index: 1;
  .navbar-items {
    max-width: 65%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    .logo {
      justify-self: start;
      margin: 0 1rem;
      .logo-text {
        @include no-select();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          @include pizza-maker();
          letter-spacing: 5px;
          font-size: 2.5em;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .navbar-toggle {
        display: none;
      }
    }
    .navbar-links {
      @include flex-center();
      flex-direction: row;
      justify-content: flex-end;
      .navbar-list {
        list-style: none;
        display: flex;
        li {
          margin: 0 1em;
          @include ease();
          &:hover {
            cursor: pointer;
            transform: translateY(-5px);
            @include ease();
          }
          p {
            text-transform: capitalize;
            font-size: 1.3em;
            font-weight: 600;
            &:hover {
              color: $primary;
            }
          }
          .checkout {
            @include flex-center();
            margin: 0 1em;
            .cart-icon {
              font-size: 2em;
              @include ease();
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

// H E A D E R
#header {
  display: flex;
  max-width: 65%;
  height: 40vh;
  margin: auto;
  background-color: $primary;
  overflow: hidden;
  position: relative;
  z-index: 98;

  .header-grids {
    display: flex;
    z-index: 99;
    .grid-left {
      position: absolute;
      left: 0;
      top: 0;
      display: grid;
      justify-items: start;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .square {
        height: 60px;
        width: 60px;
        + .s2,
        + .s4,
        + .s5,
        + .s7,
        + .s10,
        + .s13 {
          background-color: $light;
          &:hover {
            transform: scale(1.1);
            transition: 0.1s ease-in;
          }
        }
      }
    }
    .grid-right {
      position: absolute;
      right: 0;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .square {
        height: 60px;
        width: 60px;
        + .s15,
        + .s13,
        + .s12,
        + .s10,
        + .s7,
        + .s4 {
          background-color: $light;
          &:hover {
            transform: scale(1.1);
            transition: 0.1s ease-in;
          }
        }
      }
    }
  }
  .header-container {
    @include flex-center();
    margin: auto;
    z-index: 100;
    .header-text {
      @include pizza-maker();
      word-spacing: -30px;
      color: $light;
      font-size: 8em;
    }
  }
}
