@import "./mysass.scss";

// Web site
@media screen and (min-width: 992px) {
}

// Tablet
@media screen and (min-width: 768px) and (max-device-width: 991px) {
  // H O M E
  .home-grids {
    .grid-right,
    .grid-left {
      .square {
        height: 80px;
        width: 80px;
      }
    }
  }

  .home-center {
    .home-text {
      :nth-child(1) {
        font-size: 2rem;
      }
      :nth-child(2) {
        letter-spacing: 1rem;
        font-size: 10rem;
      }
    }
    .home-buttons {
      button {
        margin: 2rem 2rem;
      }
    }
  }
}

// Mobile
@media screen and (min-width: 320px) and (max-device-width: 480px) {
  // H O M E
  .home-grids {
    .grid-right,
    .grid-left {
      .square {
        height: 50px;
        width: 50px;
      }
    }
  }

  .home-center {
    .home-text {
      :nth-child(1) {
        font-size: 1em;
      }
      :nth-child(2) {
        letter-spacing: 1rem;
        font-size: 4em;
      }
    }
    .home-buttons {
      button {
        z-index: 10;
        padding: 8px 5px;
        margin: 1rem 10px;
        border: 3px solid $black;
      }
    }
  }
}
